--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A30%3A25-08%3A00&Version=2008-08-02&Signature=rLI2STC907CC25C5HDmOf1UUL4c%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>91752eb9-880c-4176-8a8b-b9fe5d96fc0e</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>65</NumResults><TotalNumResults>65</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2UCCF806UFBNTBCS6X63C5SWABIE03</HITId></HIT><HIT><HITId>2BXJ51Y7QEOZTH74DOJTPOFXV1UCFC</HITId></HIT><HIT><HITId>2U7GFL6VCPWZNA4P8UFV4S7SRRF7ML</HITId></HIT><HIT><HITId>27GN5F3Q0JG57H3ZO8PB79F9WGUCGB</HITId></HIT><HIT><HITId>27MJ3NAB6BFMTY5AAUK1WJFDK2UGTY</HITId></HIT><HIT><HITId>2M5QYN5F3Q0JUOAAYZ3W1B49JXUAEQ</HITId></HIT><HIT><HITId>2QKNJKM05BMJ7DYA8E7TS9RABG7CHA</HITId></HIT><HIT><HITId>23DHVKCJ011KGQLVJLBQZ618RSE79S</HITId></HIT><HIT><HITId>2DKGTP9RA7S5A5IILAJOI70JQB1WRQ</HITId></HIT><HIT><HI[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2UCCF806UFBNTBCS6X63C5SWABIE03&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A30%3A25-08%3A00&Version=2008-08-02&Signature=Y8ctgmdMfSO%2F0eK4PR6q60vakzE%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>a651f47f-0c7a-4a1a-bdb0-9f42892fff78</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Fri, 02 Mar 2012 21:30:26 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2C2I62NJQ217GIQL2TXBNLCVJD6VN4&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A30%3A50-08%3A00&Version=2008-08-02&Signature=VzekcO6Bn94GHsxCWx6Zi4VF%2B8o%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>efcd71bb-a900-41f8-aff4-96b916ac5212</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>211Y8TNKIMZS0O1RT4TOP0PGVW3XAY</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2C2I62NJQ217GIQL2TXBNLCVJD6VN4</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-03-02T14:15:49Z</AutoApprovalTime><AcceptTime>2012-03-02T04:12:23Z</AcceptTime><SubmitTime>2012-03-02T04:15:49Z</SubmitTime><ApprovalTime>2012-03-02T04:18:55Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;1&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: ...did reasonably innovative things subsequently &amp;#13;
        &amp;#13;
        Havi:Right&amp;#13;
        &amp;#13;
        Ryan: but Saturn itself just didn't get the support. &amp;#13;
        &amp;#13;
        Havi: Ya&amp;#13;
        &amp;#13;
        Ryan: It just - when you mentioned the manufacturing issues it kind of reminded me of that. People have a certain kind of  weird fatalism about American manufacturing&amp;#13;
        &amp;#13;
        Havi: Ya&amp;#13;
        &amp;#13;
        Ryan: We can't do this we can't do that. And it's like, no, there's all these examples -- my care comes from NUMMI.&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Fri, 02 Mar 2012 21:30:50 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2C2I62NJQ217GIQL2TXBNLCVJD6VN4&ResponseGroup.0=HITDetail&ResponseGroup.1=HITQuestion&ResponseGroup.2=Minimal&ResponseGroup.3=HITAssignmentSummary&Operation=GetHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A30%3A50-08%3A00&Version=2008-08-02&Signature=vRcDJtKU1%2BvVAsaartRAsr4DJho%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetHITResponse><OperationRequest><RequestId>dd81f2a4-66ff-4776-844a-c4e52567aa91</RequestId></OperationRequest><HIT><Request><IsValid>True</IsValid></Request><HITId>2C2I62NJQ217GIQL2TXBNLCVJD6VN4</HITId><HITTypeId>2LZUXFCD45XCSC4P4ZKKLN3TGSSVX8</HITTypeId><CreationTime>2012-03-02T04:04:55Z</CreationTime><Title>Transcribe MP3 of 1-minute phone call</Title><Description>I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.</Description><Question>&lt;QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd"&gt;
          &lt;Overview&gt;
            &lt;FormattedContent&gt;&lt;![CDATA[&lt;h2&gt;Transcribe MP3 of 1-minute phone call&lt;/h2&gt;
          &lt;p&gt;I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.&lt;/p&gt;
          &lt;h3&gt;Important&lt;/h3&gt;
          &lt;ul&gt;
        &lt;li&gt;Some unusual words you might h[...]
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A31%3A03-08%3A00&Version=2008-08-02&Signature=pRUjRkchdhuKCZZxCD19msSbkbQ%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>b7d6f644-0bc1-4f45-b62e-5bc2d3e556bc</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>65</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Fri, 02 Mar 2012 21:31:03 GMT
recorded_with: VCR 2.0.0.rc2
