--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-23T12%3A25%3A26-07%3A00&Version=2008-08-02&Signature=feiS56wdbj%2FNUQmzn4oN137iAtI%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>0468eaa2-b0f1-4e8c-830c-1981529632fd</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>37</NumResults><TotalNumResults>37</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2776AUC26DG6LWI9F7RFN0COPSYB4Y</HITId></HIT><HIT><HITId>2ZZPCGJ2D21OHFM9TCAPSSI2POTB53</HITId></HIT><HIT><HITId>2RIRYNJ92NJK0JMNYVKUKYW2LJ4B6J</HITId></HIT><HIT><HITId>2Q9NDWIOV1S766KP5SL16YDZDDNIXT</HITId></HIT><HIT><HITId>23WZZ2MIKMN98R6LAFZTZWXI8I98PN</HITId></HIT><HIT><HITId>29AZVXX2Q45U8370ASEIZ1NSDEV8QE</HITId></HIT><HIT><HITId>2I2274J79KQWKKPZGILXICD4ANRGIZ</HITId></HIT><HIT><HITId>2LHMAZHHRRLF4J5ZZ7IH4KHOE4VDM2</HITId></HIT><HIT><HITId>2IG7QEOZFYQSFV95Y06XUDS4N2GGJB</HITId></HIT><HIT><HI[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-23T12%3A25%3A26-07%3A00&Version=2008-08-02&Signature=feiS56wdbj%2FNUQmzn4oN137iAtI%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>625bca84-6c8b-4813-9f10-2ca9ca424692</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>37</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 23 Jun 2012 19:25:27 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2776AUC26DG6LWI9F7RFN0COPSYB4Y&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-23T12%3A25%3A27-07%3A00&Version=2008-08-02&Signature=6t3NpLuOUUy%2BkPecmAkuEsDyybc%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>19d3cd46-1730-4a4c-a21b-657099821adc</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 23 Jun 2012 19:25:27 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2LNUUKQOYGNIAK44K070407S0E5GY1&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-23T12%3A25%3A46-07%3A00&Version=2008-08-02&Signature=QvTrw6MOvBurWpSSomh%2BFNAplg4%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>75bc0bad-c6f7-40c3-8b73-bd0ce6acbf2d</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>2USCOK2JE1M7331LX3N6RZAC0OWNUX</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2LNUUKQOYGNIAK44K070407S0E5GY1</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-06-24T05:23:26Z</AutoApprovalTime><AcceptTime>2012-06-23T19:23:07Z</AcceptTime><SubmitTime>2012-06-23T19:23:26Z</SubmitTime><ApprovalTime>2012-06-23T19:25:13Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;http://webmasher.com/mturk/Typingpool's%20Test%20&amp;amp;%20Interview.01.20.cbcaee5e2484f96e1726874984d74763.GECVUK.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;cbcaee5e2484f96e1726874984d74763&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: ...NUMMI which is just like this amazing GM plant that turned out these juist incredibly high quality small cars, and people just don;t know about a lot of this stuff, like that it exists. So. I look forward to reading -- I'm still reading through your archive -- but I look forward to finishing it because I'm really interested in these issues.&amp;#13;
        &amp;#13;
        Havi: Ya I think it was a really interesting....&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 23 Jun 2012 19:25:46 GMT
[...]
