--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A38%3A02-08%3A00&Version=2008-08-02&Signature=jfbH3R2iw4%2BLpEpWo11xeGXlb6A%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>d75ff3e0-d7bd-4c19-b537-35aba6cbbf74</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>67</NumResults><TotalNumResults>67</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2UCCF806UFBNTBCS6X63C5SWABIE03</HITId></HIT><HIT><HITId>2BXJ51Y7QEOZTH74DOJTPOFXV1UCFC</HITId></HIT><HIT><HITId>2U7GFL6VCPWZNA4P8UFV4S7SRRF7ML</HITId></HIT><HIT><HITId>27GN5F3Q0JG57H3ZO8PB79F9WGUCGB</HITId></HIT><HIT><HITId>27MJ3NAB6BFMTY5AAUK1WJFDK2UGTY</HITId></HIT><HIT><HITId>2M5QYN5F3Q0JUOAAYZ3W1B49JXUAEQ</HITId></HIT><HIT><HITId>2QKNJKM05BMJ7DYA8E7TS9RABG7CHA</HITId></HIT><HIT><HITId>23DHVKCJ011KGQLVJLBQZ618RSE79S</HITId></HIT><HIT><HITId>2DKGTP9RA7S5A5IILAJOI70JQB1WRQ</HITId></HIT><HIT><HI[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2UCCF806UFBNTBCS6X63C5SWABIE03&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A38%3A03-08%3A00&Version=2008-08-02&Signature=8dIWSwGl1jgYmBeBJzWHfeJ9dKs%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>18eadd6e-9376-4b4e-a3e1-6afd9d136a1d</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Fri, 02 Mar 2012 21:38:03 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2AOYTWX4H3H23ULPLL7I9IJRG7XZ4T&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A38%3A36-08%3A00&Version=2008-08-02&Signature=cyl9iqvOkR2EHcSB7o5M8EPNzvY%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\n\
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>00f5a872-89a3-464b-9ff7-e4f8c1174a4b</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>22KZVXX2Q45U8370ASEIZ1NS85HQ8R</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2AOYTWX4H3H23ULPLL7I9IJRG7XZ4T</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-03-03T07:36:32Z</AutoApprovalTime><AcceptTime>2012-03-02T21:35:13Z</AcceptTime><SubmitTime>2012-03-02T21:36:32Z</SubmitTime><ApprovalTime>2012-03-02T21:37:26Z</ApprovalTime><Answer>&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;\n\
        &lt;QuestionFormAnswers xmlns=\"http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd\"&gt;\n\
        &lt;Answer&gt;\n\
        &lt;QuestionIdentifier&gt;1&lt;/QuestionIdentifier&gt;\n\
        &lt;FreeText&gt;Ryan: Ya&amp;#13;\n\
        &amp;#13;\n\
        Havi: We defiitely did our side of it from the supply manufacturing of parts - a lot of tool and die that kind of thing.&amp;#13;\n\
        &amp;#13;\n\
        Ryan: Ya one of my other chapters I was just reading\xC2\xA0before I called like earlier today -- one of my other chapters was on Saturn and that was kind of this grand skunkworks that really&lt;/FreeText&gt;\n\
        &lt;/Answer&gt;\n\
        &lt;/QuestionFormAnswers&gt;\n\
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>"
  recorded_at: Fri, 02 Mar 2012 21:38:36 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2AOYTWX4H3H23ULPLL7I9IJRG7XZ4T&ResponseGroup.0=HITDetail&ResponseGroup.1=HITQuestion&ResponseGroup.2=Minimal&ResponseGroup.3=HITAssignmentSummary&Operation=GetHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A38%3A36-08%3A00&Version=2008-08-02&Signature=fNjJQLVJSErx%2FU18quyLQjBfjZE%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetHITResponse><OperationRequest><RequestId>977366b2-74af-465e-a0a0-5cbf4118ade7</RequestId></OperationRequest><HIT><Request><IsValid>True</IsValid></Request><HITId>2AOYTWX4H3H23ULPLL7I9IJRG7XZ4T</HITId><HITTypeId>2LZUXFCD45XCSC4P4ZKKLN3TGSSVX8</HITTypeId><CreationTime>2012-03-02T21:05:43Z</CreationTime><Title>Transcribe MP3 of 1-minute phone call</Title><Description>I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.</Description><Question>&lt;QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd"&gt;
          &lt;Overview&gt;
            &lt;FormattedContent&gt;&lt;![CDATA[&lt;h2&gt;Transcribe MP3 of 1-minute phone call&lt;/h2&gt;
          &lt;p&gt;I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.&lt;/p&gt;
          &lt;h3&gt;Important&lt;/h3&gt;
          &lt;ul&gt;
        &lt;li&gt;Some unusual words you might h[...]
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-02T13%3A38%3A38-08%3A00&Version=2008-08-02&Signature=Me0E3adrmpNinNVkM%2BmX8X%2FQqJE%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>fe450943-b6a8-4fbf-8614-15d5f57472d9</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>67</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Fri, 02 Mar 2012 21:38:39 GMT
recorded_with: VCR 2.0.0.rc2
