--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-31T13%3A40%3A20-07%3A00&Version=2008-08-02&Signature=ZwKeD6B8XgE26J9kfhBmpWoQ4h8%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: |-
          <?xml version="1.0"?>
          <GetReviewableHITsResponse><OperationRequest><RequestId>6984426c-f3ad-45f2-a4c4-0b20e5a44dbc</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>54</NumResults><TotalNumResults>54</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2ETNVP3TVOK58Y0HDAYQHOZF3XP41O</HITId></HIT><HIT><HITId>27D66RLPHIT3VEDM7W965NJQ7848GZ</HITId></HIT><HIT><HITId>2QH6KW4ZMAZHVA8XR2ROQNVRM8H8HY</HITId></HIT><HIT><HITId>2UHKPFE4EGDHR5JHXK99QZW6MLW8IR</HITId></HIT><HIT><HITId>2UVP8PJWKUDDMG3NF2U920B6Z0L8J3</HITId></HIT><HIT><HITId>25KGMMEGOOGQ6V3IUM12VEIUZ1XBBK</HITId></HIT><HIT><HITId>20DCNHMVHVKCXJIDWEY4M79KV33425</HITId></HIT><HIT><HITId>2W151Y7QEOZFC99DO4KMRFXRIZ1DGA</HITId></HIT><HIT><HITId>2GKMIKMN9U8PNHKK58NXL3SU3PJBSL</HITId></HIT><HIT><HI[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2W151Y7QEOZFC99DO4KMRFXRIZ1DGA&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-31T13%3A40%3A20-07%3A00&Version=2008-08-02&Signature=XbtAeh9K%2FB5YMIssmq9z7xdMBTo%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: &id002 !str 
        str: |-
          <?xml version="1.0"?>
          <GetAssignmentsForHITResponse><OperationRequest><RequestId>96502c87-c448-4a6f-950e-b4a6e326efdf</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
        :@args: 
          :method: :post
          :url: https://mechanicalturk.sandbox.amazonaws.com/
          :payload: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=AKIAIADF6XL2KMK6JFCQ&Timestamp=2012-04-01T12%3A53%3A56-07%3A00&Version=2008-08-02&Signature=yj1CRo62QoeMx6c7lFUMXm%2F0swo%3D
          :headers: {}

        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id002
          code: "200"
          header: 
            content-type: 
            - text/xml
            transfer-encoding: 
            - chunked
            date: 
            - Sat, 31 Mar 2012 20:40:21 GMT
            server: 
            - MTurk
          message: OK
          read: true
  recorded_at: Sat, 31 Mar 2012 20:40:21 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=21ICOK2JE1M7331LX3N6RZAC5GXNUR&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-31T13%3A40%3A43-07%3A00&Version=2008-08-02&Signature=pNcASpgjGYryWtY9oMMY0qX68SM%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: &id044 !str 
        str: |-
          <?xml version="1.0"?>
          <GetAssignmentsForHITResponse><OperationRequest><RequestId>a94a2e19-0139-4ed0-81a0-a4b24c92c80c</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>2GGQ1SNQQ7Q6LJMD2W3NU12TQU58S3</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>21ICOK2JE1M7331LX3N6RZAC5GXNUR</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-04-01T06:39:24Z</AutoApprovalTime><AcceptTime>2012-03-31T20:39:11Z</AcceptTime><SubmitTime>2012-03-31T20:39:24Z</SubmitTime><ApprovalTime>2012-03-31T20:40:11Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
          &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
          &lt;Answer&gt;
          &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
          &lt;FreeText&gt;http://webmasher.com/mturk/TestTpInterview.00.00.453a77d32ba473ce33895bb8a2caf92a.CHDMKA.mp3&lt;/FreeText&gt;
          &lt;/Answer&gt;
          &lt;Answer&gt;
          &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
          &lt;FreeText&gt;453a77d32ba473ce33895bb8a2caf92a&lt;/FreeText&gt;
          &lt;/Answer&gt;
          &lt;Answer&gt;
          &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
          &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
          &amp;#13;
          Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but....&lt;/FreeText&gt;
          &lt;/Answer&gt;
          &lt;/QuestionFormAnswers&gt;
          </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
        :@args: 
          :method: :post
          :url: https://mechanicalturk.sandbox.amazonaws.com/
          :payload: HITId=2IKA1QP6AUC2KWXIJPSX6V0FPAQ70V&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=AKIAIADF6XL2KMK6JFCQ&Timestamp=2012-04-01T12%3A53%3A57-07%3A00&Version=2008-08-02&Signature=IUw2nSC8yT4lUaVHrbTU6V%2BqvoY%3D
          :headers: {}

        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id044
          code: "200"
          header: 
            content-type: 
            - text/xml
            transfer-encoding: 
            - chunked
            date: 
            - Sat, 31 Mar 2012 20:40:43 GMT
            server: 
            - MTurk
          message: OK
          read: true
  recorded_at: Sat, 31 Mar 2012 20:40:44 GMT
[...]
