--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A45%3A05-07%3A00&Version=2008-08-02&Signature=vKUMmxDZqNMMg5fOU21%2F%2BkF3yrk%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>0005bc35-cb4c-4d52-8993-e41a7454143b</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>14</NumResults><TotalNumResults>14</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2ETNVP3TVOK58Y0HDAYQHOZF3XP41O</HITId></HIT><HIT><HITId>27D66RLPHIT3VEDM7W965NJQ7848GZ</HITId></HIT><HIT><HITId>2QH6KW4ZMAZHVA8XR2ROQNVRM8H8HY</HITId></HIT><HIT><HITId>2UHKPFE4EGDHR5JHXK99QZW6MLW8IR</HITId></HIT><HIT><HITId>2UVP8PJWKUDDMG3NF2U920B6Z0L8J3</HITId></HIT><HIT><HITId>25KGMMEGOOGQ6V3IUM12VEIUZ1XBBK</HITId></HIT><HIT><HITId>20DCNHMVHVKCXJIDWEY4M79KV33425</HITId></HIT><HIT><HITId>2LX0OHOVR14IB35EXLTHHCWAB4065T</HITId></HIT><HIT><HITId>23H9O9Z6KW4Z0TGTT3ILIQ0OSUSD4N</HITId></HIT><HIT><HITId>2V9SQV66RLPHWCKT781VNI62SQND5S</HITId></HIT><HIT><HITId>2DG2AOO2GMMEU75S243M9IAA7ZB669</HITId></HIT><HIT><HITId>244HGYQ4J3NAPPSRYR6O1YIT60GBOO</HITId></HIT><HIT><HITId>2WAVGULF395SAP4SDRJ3QYNJG5CBP5</HITId></HIT><HIT><HITId>2PWR9Y8TNKIMDB3HWR8S5OM0UNS8VO</HITId></HIT></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 17 Mar 2012 18:45:06 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2QH6KW4ZMAZHVA8XR2ROQNVRM8H8HY&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A45%3A06-07%3A00&Version=2008-08-02&Signature=yc4%2FHOUkYXeU1YV7qUTyuYe5nbg%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>ad62f491-3a17-4fb5-819d-3d9843d4a848</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>218NTBJ3MMDXJY6JZITKKB9MDE4BXN</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2QH6KW4ZMAZHVA8XR2ROQNVRM8H8HY</HITId><AssignmentStatus>Submitted</AssignmentStatus><AutoApprovalTime>2012-03-18T03:33:19Z</AutoApprovalTime><AcceptTime>2012-03-17T17:31:10Z</AcceptTime><SubmitTime>2012-03-17T17:33:19Z</SubmitTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;1&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: ...bright start and then just kind of like fizzled. -laughs- No fault of the company i mean they were kind of starved of resources. I mean they actually did really well for several years and then it just kind of - it  changed from what it was originally. Um. It was too bad because that particular division -- other parts of GM....&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 17 Mar 2012 18:45:07 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2LX0OHOVR14IB35EXLTHHCWAB4065T&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A45%3A08-07%3A00&Version=2008-08-02&Signature=XeXBx6qgWmUi%2BYAdD%2BjD5ALmXD8%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\n\
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>3d349288-c6a2-4c37-922f-7c06781e5e6e</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>2OFLVWJ5OPB0CEXBKADWE7EP9BJ3VL</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2LX0OHOVR14IB35EXLTHHCWAB4065T</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-03-18T04:43:05Z</AutoApprovalTime><AcceptTime>2012-03-17T18:41:11Z</AcceptTime><SubmitTime>2012-03-17T18:43:05Z</SubmitTime><ApprovalTime>2012-03-17T18:44:45Z</ApprovalTime><Answer>&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;\n\
        &lt;QuestionFormAnswers xmlns=\"http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd\"&gt;\n\
        &lt;Answer&gt;\n\
        &lt;QuestionIdentifier&gt;1&lt;/QuestionIdentifier&gt;\n\
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;\n\
        &amp;#13;\n\
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide\xC2\xA0business here but....&lt;/FreeText&gt;\n\
        &lt;/Answer&gt;\n\
        &lt;/QuestionFormAnswers&gt;\n\
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>"
  recorded_at: Sat, 17 Mar 2012 18:45:08 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2LX0OHOVR14IB35EXLTHHCWAB4065T&ResponseGroup.0=HITDetail&ResponseGroup.1=HITQuestion&ResponseGroup.2=Minimal&ResponseGroup.3=HITAssignmentSummary&Operation=GetHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A45%3A08-07%3A00&Version=2008-08-02&Signature=4lEk2cjsNalAhZm20RmIcfpZsZc%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetHITResponse><OperationRequest><RequestId>a4762978-ee59-4531-82c5-b6a5a071b81a</RequestId></OperationRequest><HIT><Request><IsValid>True</IsValid></Request><HITId>2LX0OHOVR14IB35EXLTHHCWAB4065T</HITId><HITTypeId>2LZUXFCD45XCSC4P4ZKKLN3TGSSVX8</HITTypeId><CreationTime>2012-03-17T17:59:59Z</CreationTime><Title>Transcribe MP3 of 1-minute phone call</Title><Description>I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.</Description><Question>&lt;QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd"&gt;
          &lt;Overview&gt;
            &lt;FormattedContent&gt;&lt;![CDATA[&lt;h2&gt;Transcribe MP3 of 1-minute phone call&lt;/h2&gt;
          &lt;p&gt;I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.&lt;/p&gt;
          &lt;h3&gt;Important&lt;/h3&gt;
          &lt;ul&gt;
        &lt;li&gt;Some unusual words you might h[...]
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A45%3A11-07%3A00&Version=2008-08-02&Signature=6ruyluZdzIBu2yBh2VFnMU1MD%2FQ%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>83d8d840-af87-4ac6-ad85-02cff7d5c9b8</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>14</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 17 Mar 2012 18:45:12 GMT
recorded_with: VCR 2.0.0.rc2
