--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2Y0T3HVWAVKIKL4V2ES75Z99VZ4NFQ&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-04-21T18%3A57%3A29-04%3A00&Version=2008-08-02&Signature=6mH9DgWmz8krL5q9HEllv7HJF8w%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>1e3e0b9e-27b0-4071-a460-5524e9378c0c</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>2N52AC9KSSZVBGJ2GHLUNQOYG5FJ17</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2Y0T3HVWAVKIKL4V2ES75Z99VZ4NFQ</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-04-22T08:55:20Z</AutoApprovalTime><AcceptTime>2012-04-21T22:54:42Z</AcceptTime><SubmitTime>2012-04-21T22:55:20Z</SubmitTime><ApprovalTime>2012-04-21T22:57:22Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;http://webmasher.com/mturk/TestTpInterview.00.00.c17c3a6439b34732ef075a57d1165290.JBBMWU.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;c17c3a6439b34732ef075a57d1165290&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but....&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 21 Apr 2012 22:57:31 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=2AT1K274J79K4FNDKZV6XXFCDM2EGH&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-04-21T18%3A57%3A38-04%3A00&Version=2008-08-02&Signature=fjkHWGAgxS6IDx5stQpkkoKbLAc%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>c3b15b6b-ddce-4fd7-9acd-8d029d182a71</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Sat, 21 Apr 2012 22:57:44 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=28URCJK63ZVEH08CW69AT9JL5908X4&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-04-21T18%3A57%3A45-04%3A00&Version=2008-08-02&Signature=hCKXp9xQVqMxxdeul%2BMQ%2FzpE9W8%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>628452a9-efe9-49c3-9a61-a1caa5136860</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Sat, 21 Apr 2012 22:57:47 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2CEAVKI62NJQGKOEBL0QK6BKQUTKS1&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-04-21T18%3A57%3A47-04%3A00&Version=2008-08-02&Signature=lUHvLD9XI1F6EbidSXmvN19BLSs%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>eced4410-9562-420b-a2eb-8500911ffe8a</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sat, 21 Apr 2012 22:57:47 GMT
recorded_with: VCR 2.0.0.rc2
