--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=298V66RLPHITH0C8M7BI92NJV1KF7Q&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-24T12%3A03%3A43-07%3A00&Version=2008-08-02&Signature=CFIJrIf41VQeb53frqLhEOZfKFM%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>724e3260-4d23-488d-9fb8-8fd6f035702a</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>297YQS1CSTMOTG8P4G9C4EYDNHUPM3</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>298V66RLPHITH0C8M7BI92NJV1KF7Q</HITId><AssignmentStatus>Submitted</AssignmentStatus><AutoApprovalTime>2012-06-25T05:01:40Z</AutoApprovalTime><AcceptTime>2012-06-24T19:01:28Z</AcceptTime><SubmitTime>2012-06-24T19:01:40Z</SubmitTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;http://webmasher.com/mturk/Typingpool's%20Test%20&amp;amp;%20Interview.00.00.c48df12d971f147de805a71f37b41524.VFNKKP.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;c48df12d971f147de805a71f37b41524&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but....&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 24 Jun 2012 19:03:44 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=297YQS1CSTMOTG8P4G9C4EYDNHUPM3&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-24T12%3A03%3A47-07%3A00&Version=2008-08-02&Signature=eqpTiLNZ5bfoc0072JspEctMhCo%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>17bc489e-b91f-4e49-8240-e4b4380287d4</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Sun, 24 Jun 2012 19:03:48 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=2TLUHYW2GTP95TO4H8D199YSOZIMRS&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-24T12%3A03%3A48-07%3A00&Version=2008-08-02&Signature=5wLbFcB5rMlnChsmecwbyJUxcZg%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>04c9bc6a-dd97-41ea-8276-5f6cf6e3c1dd</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Sun, 24 Jun 2012 19:03:48 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=26UGJ2D21O3WJGYCV1GSL2KYJO4D7D&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-24T12%3A03%3A48-07%3A00&Version=2008-08-02&Signature=L2m94fVUEhwH7EvdC%2FvtFCFxrcA%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>3f9d3a84-329c-4c65-abb3-b483df8b85d1</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sun, 24 Jun 2012 19:03:49 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2WL95SW6NG1F6M4AZV2YI1FZXY4HVI&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-06-24T12%3A03%3A50-07%3A00&Version=2008-08-02&Signature=gBE7E%2FtU8tRmdIwHALLIJBcY8Wo%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>c267d98f-0491-46e7-9026-077917c70255</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sun, 24 Jun 2012 19:03:50 GMT
recorded_with: VCR 2.0.0.rc2
