--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2LX0OHOVR14IB35EXLTHHCWACYA56R&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-07-01T15%3A22%3A40-07%3A00&Version=2008-08-02&Signature=14jszoUFFeWkfRNFg9uR%2BbMZ%2FCc%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>cc7bb0e5-b961-4ed1-a30d-589c2a78ad27</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>2MOY2AOO2GMMSZ50S2JCP6IAAMA55E</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2LX0OHOVR14IB35EXLTHHCWACYA56R</HITId><AssignmentStatus>Submitted</AssignmentStatus><AutoApprovalTime>2012-07-02T08:21:11Z</AutoApprovalTime><AcceptTime>2012-07-01T22:21:01Z</AcceptTime><SubmitTime>2012-07-01T22:21:11Z</SubmitTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;http://webmasher.com/mturk/Typingpool's%20Test%20&amp;amp;%20Interview.00.00.5a786c80f5b6c457c7e77baceaece289.COKFVJ.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;5a786c80f5b6c457c7e77baceaece289&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but....&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 01 Jul 2012 22:22:41 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=2MOY2AOO2GMMSZ50S2JCP6IAAMA55E&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-07-01T15%3A22%3A44-07%3A00&Version=2008-08-02&Signature=pYmneyg501COToV3%2BXydTKhDLxA%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>c1762ffc-789d-4513-a958-ae7400acd2aa</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Sun, 01 Jul 2012 22:22:45 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: AssignmentId=29PR24SMEZZ2011YZLL8S9Y38DE2JW&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-07-01T15%3A22%3A45-07%3A00&Version=2008-08-02&Signature=ufTnxHURYxST5RP5O4dQhYjmN98%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>ab43ff07-1c58-432b-a490-f7e8a1f57b48</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Sun, 01 Jul 2012 22:22:46 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2359U8P9Y38TAFEUF4LYLM0JZBMXGU&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-07-01T15%3A22%3A46-07%3A00&Version=2008-08-02&Signature=niGhKaVF5EqY0tpqs9lMatbC5w0%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>a6f4f819-1492-48ed-bf7d-0c2a857f5df4</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sun, 01 Jul 2012 22:22:46 GMT
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=26LTVOK5UFJ5FHO2Q0QF1QS1IT058D&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-07-01T15%3A22%3A47-07%3A00&Version=2008-08-02&Signature=q94otOozwJ6MThrydZ1jXDc6I%2B0%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>7104d2f7-9eab-417e-99fd-95bb0633d263</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sun, 01 Jul 2012 22:22:48 GMT
recorded_with: VCR 2.0.0.rc2
