---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-19T17%3A25%3A22Z&Version=2012-03-25&Signature=tY7dN2a3L2ciILGM7fhmEbQHccg%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>e6ff0238-9b7e-451e-937f-c87e8df8ca80</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>18</NumResults><TotalNumResults>18</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>3EFNPKWBMS4BM2CATQED0VNWMDK03R</HITId></HIT><HIT><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ</HITId></HIT><HIT><HITId>3G57RS03HHLLWR2SMW6KYGEVX7V253</HITId></HIT><HIT><HITId>3BCRDCM0ODACWB6WGLMTQIEPA2S6K9</HITId></HIT><HIT><HITId>337F8MIIMZTW4YVET4JWA0F20DG04C</HITId></HIT><HIT><HITId>39WICJI5AT88ONI0XKR56UQI4K33ZM</HITId></HIT><HIT><HITId>37SDSEDIN9IXUO3Y1QD95HEH7YV18E</HITId></HIT><HIT><HITId>38B7Q9C28GLSFFN5COV40909ZFT696</HITId></HIT><HIT><HITId>3FBEFUUYRKL6KYXA4U94W4BT5XB6AL</HITId></HIT><HIT><HITId>329E6HTMSWIDZSJEXJOVJF250I33KR</HITId></HIT><HIT><HITId>3TZDZ3Y0JSMX8TM86IJN5D9SR4D193</HITId></HIT><HIT><HITId>37SOB9Z0SSDOJY1WIJ0WYFFKPI83LU</HITId></HIT><HIT><HITId>3A520CCNWNGAXDQPACS28S36MVNAEY</HITId></HIT><HIT><HITId>3LAZVA75NI77418ARB2J7MEME912ON</HITId></HIT><HIT><HITId>3UUSLRKAULJNM5ER7E5YSJJVLBGD7H</HITId></HIT><HIT><HITId>3TCFMTM8HE4M8919L948VQ1ELYR12Z</HITId></HIT><HIT><HITId>3DGDV62G7OPPP1KB6BFYWMJCOEX2P4</HITId></HIT><HIT><HITId>3WGZLY9VCH2RMJJAHJX46JFQWVMD84</HITId></HIT></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sun, 19 Mar 2017 17:25:22 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3TCFMTM8HE4M8919L948VQ1ELYR12Z&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-19T17%3A25%3A22Z&Version=2012-03-25&Signature=SHXIHZpMOEjjSF1gT6OYi72IZFg%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>e37e6c8e-c6a1-4d12-9a04-4ca9f1f00efb</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3PW9OPU9PR0PUTZ3BB99KAXUYMS12R</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3TCFMTM8HE4M8919L948VQ1ELYR12Z</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2017-03-19T17:24:30Z</AutoApprovalTime><AcceptTime>2017-03-19T17:19:16Z</AcceptTime><SubmitTime>2017-03-19T17:19:30Z</SubmitTime><ApprovalTime>2017-03-19T17:24:52Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.01.28.7f860a1aac3dc3f528b2796dba96b910.BEVFBN.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;7f860a1aac3dc3f528b2796dba96b910&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: I'm still reading through your archive -- but I look forward to finishing it because I'm really interested in these issues.&amp;#13;
        &amp;#13;
        Havi: Ya I think it was a really interesting.... theme that came out during that election that's one of the themese that truly led to reporting on it &amp;#13;
        &amp;#13;
        Ryan: Ya.&amp;#13;
        &amp;#13;
        Havi: ....outside of my work plans was that theme of um&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 19 Mar 2017 17:25:23 GMT
[...]
