---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-19T17%3A16%3A50Z&Version=2012-03-25&Signature=2JRi2J8sWgON6ySLL7aclwrc9JI%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>0355e3f1-8c29-4329-8afb-feaf7f39bea7</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>14</NumResults><TotalNumResults>14</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>3EFNPKWBMS4BM2CATQED0VNWMDK03R</HITId></HIT><HIT><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ</HITId></HIT><HIT><HITId>3G57RS03HHLLWR2SMW6KYGEVX7V253</HITId></HIT><HIT><HITId>3BCRDCM0ODACWB6WGLMTQIEPA2S6K9</HITId></HIT><HIT><HITId>337F8MIIMZTW4YVET4JWA0F20DG04C</HITId></HIT><HIT><HITId>39WICJI5AT88ONI0XKR56UQI4K33ZM</HITId></HIT><HIT><HITId>37SDSEDIN9IXUO3Y1QD95HEH7YV18E</HITId></HIT><HIT><HITId>38B7Q9C28GLSFFN5COV40909ZFT696</HITId></HIT><HIT><HITId>3FBEFUUYRKL6KYXA4U94W4BT5XB6AL</HITId></HIT><HIT><HITId>329E6HTMSWIDZSJEXJOVJF250I33KR</HITId></HIT><HIT><HITId>3TZDZ3Y0JSMX8TM86IJN5D9SR4D193</HITId></HIT><HIT><HITId>37SOB9Z0SSDOJY1WIJ0WYFFKPI83LU</HITId></HIT><HIT><HITId>3A520CCNWNGAXDQPACS28S36MVNAEY</HITId></HIT><HIT><HITId>3UUSLRKAULJNM5ER7E5YSJJVLBGD7H</HITId></HIT></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sun, 19 Mar 2017 17:16:50 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3EFNPKWBMS4BM2CATQED0VNWMDK03R&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-19T17%3A16%3A50Z&Version=2012-03-25&Signature=95qHlbXXEaGKwUZlTcX8FR8%2BoFM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>8aed8302-7a8e-4bc0-8b46-e4967859c9be</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3SPJ033422JMQV8EULMAXEUL7DLJYI</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3EFNPKWBMS4BM2CATQED0VNWMDK03R</HITId><AssignmentStatus>Rejected</AssignmentStatus><AutoApprovalTime>2017-03-07T06:53:17Z</AutoApprovalTime><AcceptTime>2017-03-06T20:52:58Z</AcceptTime><SubmitTime>2017-03-06T20:53:17Z</SubmitTime><RejectionTime>2017-03-06T20:54:10Z</RejectionTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.5e0b7de1a9d4a9eb4863f20e9ad674c7.GSYTPW.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;5e0b7de1a9d4a9eb4863f20e9ad674c7&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 19 Mar 2017 17:16:50 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-19T17%3A16%3A50Z&Version=2012-03-25&Signature=95qHlbXXEaGKwUZlTcX8FR8%2BoFM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>11647b72-45a7-458f-a1b0-24040f07b424</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3AAJC4I4FH8MVLIJQ7OTBL3ND7PJZ9</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2017-03-07T06:53:40Z</AutoApprovalTime><AcceptTime>2017-03-06T20:53:19Z</AcceptTime><SubmitTime>2017-03-06T20:53:40Z</SubmitTime><ApprovalTime>2017-03-06T20:54:01Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.44.5e0b7de1a9d4a9eb4863f20e9ad674c7.REPDVE.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;5e0b7de1a9d4a9eb4863f20e9ad674c7&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: No fault of the company, they were kind of starved of resources. I mean they actually did really well  for several years and then it kind of -- it changed from what it was originally. And it was too bad because that particular division -- other parts of GM did reasonably innovative things subsequently, &amp;#13;
        &amp;#13;
        Havi: Right.&amp;#13;
        &amp;#13;
        Ryan: ...but Saturn itself just kind of didn't get the support. &amp;#13;
        &amp;#13;
        Havi: Ya.&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 19 Mar 2017 17:16:51 GMT
[...]
