---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3NZ1E5QA6ZHFK42O5PZVZ9HZRLK5B0&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A37Z&Version=2012-03-25&Signature=qMHAXr2A%2F5C%2FG41h8HVIYiGYFcI%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>90f1dbb0-d418-4346-925f-fe7ef8866430</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3ZWFC4W1UVNXOSAWX03VAK9WBPBFR7</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3NZ1E5QA6ZHFK42O5PZVZ9HZRLK5B0</HITId><AssignmentStatus>Submitted</AssignmentStatus><AutoApprovalTime>2017-03-21T04:58:32Z</AutoApprovalTime><AcceptTime>2017-03-20T18:58:03Z</AcceptTime><SubmitTime>2017-03-20T18:58:32Z</SubmitTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.e8321808c2e7ccc7da154281ac1f145e.LGXFSM.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;e8321808c2e7ccc7da154281ac1f145e&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:37 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3ZWFC4W1UVNXOSAWX03VAK9WBPBFR7&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A38Z&Version=2012-03-25&Signature=kc%2F%2FkYYhQUZXE27vkd4qHRoDjqA%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>78ba4f79-2642-477d-9384-a0bd99646204</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:38 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3KIBXJ1WD6A571AU6JDOW2WW8Y8KO5&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A38Z&Version=2012-03-25&Signature=DF3jxPWtVWYh0SqX7yjzJKn7jzM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>0eb2a99f-ddce-40d2-8397-998003ba4482</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:38 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3QQUBC64ZEUQNWBVELNZIN8D197XNQ&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A38Z&Version=2012-03-25&Signature=%2FuYDIAAc4gQXzpvmKiBlHvZvjcA%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>ea551b03-5cde-481f-af74-d96b9bf3991a</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:39 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3BAWBGQGYLF9GMEDYZ5SY5P2LJUV7A&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A39Z&Version=2012-03-25&Signature=F68lixa%2B9QQgMv1%2B7OkL0wpneRc%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>35538be4-71e5-46ea-be65-d460c77173b3</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:39 GMT
recorded_with: VCR 3.0.3
