---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3126F2F5F8JHKHWRZVAZYNS1LPCEPN&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-07T15%3A27%3A13Z&Version=2012-03-25&Signature=cpsKRZfzbb89sBz8Gt7gKm5anJg%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>62121e9c-c659-4684-b9b0-a96889735a8b</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3MX2NQ3YCAAPJR3J0NWEDQ47NJWX5U</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3126F2F5F8JHKHWRZVAZYNS1LPCEPN</HITId><AssignmentStatus>Submitted</AssignmentStatus><AutoApprovalTime>2017-04-07T15:31:42Z</AutoApprovalTime><AcceptTime>2017-04-07T15:26:27Z</AcceptTime><SubmitTime>2017-04-07T15:26:42Z</SubmitTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.2504eaac7bac3356d72237e8dc79d2ee.XGDNHH.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;2504eaac7bac3356d72237e8dc79d2ee&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Fri, 07 Apr 2017 15:27:13 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3MX2NQ3YCAAPJR3J0NWEDQ47NJWX5U&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-07T15%3A27%3A14Z&Version=2012-03-25&Signature=a8nL4Vi72l9udXVJPvqpcJxPyVc%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>70b9808f-512e-4039-83b6-a7a78c5ee13d</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Fri, 07 Apr 2017 15:27:14 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3QY7M81QH82YMVIVPXWMLGA1IGD7KV&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-07T15%3A27%3A14Z&Version=2012-03-25&Signature=lF03dSjBacwruxQUtHdsF0EkegU%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>3995024c-1936-4cd7-8653-dd94c9e66ea5</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Fri, 07 Apr 2017 15:27:15 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3UXQ63NLAA2TMT59XCF2GYDWDIYLBW&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-07T15%3A27%3A15Z&Version=2012-03-25&Signature=75bTHk%2F0xs4vm1u5rRsko%2FSB0bM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>34a12598-9863-43ae-b91a-9e6bb721359a</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Fri, 07 Apr 2017 15:27:15 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=31MBOZ6PAO7CWYXFBCBXRIJEV3YLC3&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-07T15%3A27%3A15Z&Version=2012-03-25&Signature=75bTHk%2F0xs4vm1u5rRsko%2FSB0bM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>9785d490-0c63-45bc-a767-deae9747eaf4</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Fri, 07 Apr 2017 15:27:15 GMT
recorded_with: VCR 3.0.3
