---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-08T03%3A04%3A36Z&Version=2012-03-25&Signature=sgfxvVuxHADu%2BJWeHWGye7x9%2Fe0%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>ff423321-845a-4c9d-b4db-e38dffb104bf</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>81</NumResults><TotalNumResults>81</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>3WA2XVDZEMX9ABEMKZBQSN1KQKME6H</HITId></HIT><HIT><HITId>3WYZV0QBFJTOMNMYBVIQRS8JKR8BX8</HITId></HIT><HIT><HITId>3QE4DGPGBRRTF26Z768ZVS2I79VG4F</HITId></HIT><HIT><HITId>36GJS3V78V6JIKPKADV31UR1P6LGJ6</HITId></HIT><HIT><HITId>3EKZL9T8Y82AA2EPKRWZZQQ7EMPCHN</HITId></HIT><HIT><HITId>3IKDQS3DQEGA6XP9Q9EKZ2RMEZ4CIG</HITId></HIT><HIT><HITId>3KL228NDMV2ET4V2SYVF29RE4VLGK5</HITId></HIT><HIT><HITId>3FBEFUUYRKL6KYXA4U94W4BT55P6AF</HITId></HIT><HIT><HITId>3FI30CQHVKZB3822A890RFVZNNA6BA</HITId></HIT><HIT><HI[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-08T03%3A04%3A36Z&Version=2012-03-25&Signature=sgfxvVuxHADu%2BJWeHWGye7x9%2Fe0%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>a79d2bcd-8ce2-4ecc-97b5-9b198a65fc38</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>81</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 08 Apr 2017 03:04:37 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3R5LWXWHR0OKD4U9RHA4S3ZG05QXG3&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-08T03%3A04%3A37Z&Version=2012-03-25&Signature=fECYM7w%2Fb%2Bnsj4%2FQ%2FOKk7B2Oitc%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>ddf80b24-7e68-43bb-9680-ea627a50b91e</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>39KFRKBFIOB0R6ZBAYEF5AB76KXYO8</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG05QXG3</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2017-04-08T03:03:08Z</AutoApprovalTime><AcceptTime>2017-04-08T02:57:58Z</AcceptTime><SubmitTime>2017-04-08T02:58:08Z</SubmitTime><ApprovalTime>2017-04-08T02:58:29Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.79b213c7bdd466ea9ae71a71f7882931.HDMJGC.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;79b213c7bdd466ea9ae71a71f7882931&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 08 Apr 2017 03:04:37 GMT
[...]
