---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3NZ1E5QA6ZHFK42O5PZVZ9HZRLK5B0&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A40Z&Version=2012-03-25&Signature=juOpNlemsIHuRkmYfzIwWiCFDBE%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>25e6447b-36aa-4d39-b8cf-9cfefcae9da4</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3ZWFC4W1UVNXOSAWX03VAK9WBPBFR7</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3NZ1E5QA6ZHFK42O5PZVZ9HZRLK5B0</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2017-03-21T04:58:32Z</AutoApprovalTime><AcceptTime>2017-03-20T18:58:03Z</AcceptTime><SubmitTime>2017-03-20T18:58:32Z</SubmitTime><ApprovalTime>2017-03-20T18:59:38Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.e8321808c2e7ccc7da154281ac1f145e.LGXFSM.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;e8321808c2e7ccc7da154281ac1f145e&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:40 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3IKZ72A5B5WC9UI44TME104MASMFNJ&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A41Z&Version=2012-03-25&Signature=Gh8ERVRYPXMef%2BVnskoFSTwhUWo%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>2c812ecb-1d9c-4209-832c-f15ab700c42c</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:41 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=31IBVUNM9TFPHZRD6K85BHYZWVOFV0&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A41Z&Version=2012-03-25&Signature=hJpIP401sE8oteq1%2F1%2BwWOdsVpo%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>738d8eea-ac82-4e0d-adb7-6c1e960918a3</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:41 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3VI0PC2ZAY085HB7F0NCXC8IRJCXO5&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-03-20T18%3A59%3A41Z&Version=2012-03-25&Signature=v8UlV6F2TWkiRwXhFq%2FMCrJWQs4%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>cc4bd6e4-0c81-43f5-b338-f5f64a286a2f</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Mon, 20 Mar 2017 18:59:41 GMT
recorded_with: VCR 3.0.3
