---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A09%3A56Z&Version=2012-03-25&Signature=2JuXWYW3HRfoKVL73SdAfI8b76Q%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>923e1196-354d-4a1b-a4ac-81c43be83d43</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>65</NumResults><TotalNumResults>65</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>3EFNPKWBMS4BM2CATQED0VNWMDK03R</HITId></HIT><HIT><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ</HITId></HIT><HIT><HITId>3G57RS03HHLLWR2SMW6KYGEVX7V253</HITId></HIT><HIT><HITId>3BCRDCM0ODACWB6WGLMTQIEPA2S6K9</HITId></HIT><HIT><HITId>337F8MIIMZTW4YVET4JWA0F20DG04C</HITId></HIT><HIT><HITId>39WICJI5AT88ONI0XKR56UQI4K33ZM</HITId></HIT><HIT><HITId>37SDSEDIN9IXUO3Y1QD95HEH7YV18E</HITId></HIT><HIT><HITId>38B7Q9C28GLSFFN5COV40909ZFT696</HITId></HIT><HIT><HITId>3FBEFUUYRKL6KYXA4U94W4BT5XB6AL</HITId></HIT><HIT><HI[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A09%3A57Z&Version=2012-03-25&Signature=Fe4qQxidrng29%2FmWEjkXAYPETJY%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>cfae81a2-acb1-4195-a033-6656ca6438e3</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>65</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 01 Apr 2017 15:09:57 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3EFNPKWBMS4BM2CATQED0VNWMDK03R&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A09%3A57Z&Version=2012-03-25&Signature=%2B7WMbo%2Fp2%2Fmu6k%2BtHM%2Fy7i2hfso%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>1b1f41df-d9f0-4fb2-a8a2-afdd331bcc1a</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3SPJ033422JMQV8EULMAXEUL7DLJYI</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3EFNPKWBMS4BM2CATQED0VNWMDK03R</HITId><AssignmentStatus>Rejected</AssignmentStatus><AutoApprovalTime>2017-03-07T06:53:17Z</AutoApprovalTime><AcceptTime>2017-03-06T20:52:58Z</AcceptTime><SubmitTime>2017-03-06T20:53:17Z</SubmitTime><RejectionTime>2017-03-06T20:54:10Z</RejectionTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.00.5e0b7de1a9d4a9eb4863f20e9ad674c7.GSYTPW.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;5e0b7de1a9d4a9eb4863f20e9ad674c7&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but in Grand Rapids -- are you guys connected to the auto industry or are you  too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the buyers for the auto industry in Detroit and Flint. It's kind of a - it's a statewide business here but We definitely get our&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 01 Apr 2017 15:09:57 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A09%3A57Z&Version=2012-03-25&Signature=%2B7WMbo%2Fp2%2Fmu6k%2BtHM%2Fy7i2hfso%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>65949445-7b89-4cd8-9bd1-6b80d087b88a</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>3AAJC4I4FH8MVLIJQ7OTBL3ND7PJZ9</AssignmentId><WorkerId>A108A5T4U9V27P</WorkerId><HITId>3R5LWXWHR0OKD4U9RHA4S3ZG0P9XGQ</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2017-03-07T06:53:40Z</AutoApprovalTime><AcceptTime>2017-03-06T20:53:19Z</AcceptTime><SubmitTime>2017-03-06T20:53:40Z</SubmitTime><ApprovalTime>2017-03-06T20:54:01Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_url&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;https://webmasher.com/mturk/Typingpool%27s%20Test%20%26%20Interview.00.44.5e0b7de1a9d4a9eb4863f20e9ad674c7.REPDVE.mp3&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;typingpool_project_id&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;5e0b7de1a9d4a9eb4863f20e9ad674c7&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;transcription&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: No fault of the company, they were kind of starved of resources. I mean they actually did really well  for several years and then it kind of -- it changed from what it was originally. And it was too bad because that particular division -- other parts of GM did reasonably innovative things subsequently, &amp;#13;
        &amp;#13;
        Havi: Right.&amp;#13;
        &amp;#13;
        Ryan: ...but Saturn itself just kind of didn't get the support. &amp;#13;
        &amp;#13;
        Havi: Ya.&amp;#13;
        &lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 01 Apr 2017 15:09:57 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3WETL7AQWUOD3TW5GYPQ6AF3GMJ53M&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A10%3A09Z&Version=2012-03-25&Signature=GDVXtBeKcxs9q7BazdD%2BsfgBw8s%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>e1849f6d-4f6f-4216-8490-6997c9aa7151</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Sat, 01 Apr 2017 15:10:09 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3XXU1SWE8NBES79PS7YOCNXI5O0A02&RequesterFeedback=No+reason+-+this+is+a+test&Operation=RejectAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A10%3A09Z&Version=2012-03-25&Signature=jc0otFc6lyHKOOsT3EQaFQuv3Fc%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RejectAssignmentResponse><OperationRequest><RequestId>c83eb605-7ee0-4ae2-bd04-1079ba7cfe1c</RequestId></OperationRequest><RejectAssignmentResult><Request><IsValid>True</IsValid></Request></RejectAssignmentResult></RejectAssignmentResponse>
  recorded_at: Sat, 01 Apr 2017 15:10:10 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=3I4E7AFQ2KFNNPBQUDUA0D6QFXOTJH&Operation=DisposeHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A10%3A10Z&Version=2012-03-25&Signature=V9Qd9HpKXW3nFypt8txLT7mQ7vs%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisposeHITResponse><OperationRequest><RequestId>228d7e39-e7d4-459b-b538-6f568f39efc3</RequestId></OperationRequest><DisposeHITResult><Request><IsValid>True</IsValid></Request></DisposeHITResult></DisposeHITResponse>
  recorded_at: Sat, 01 Apr 2017 15:10:10 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: AssignmentId=3VZLGYJEYMQNQ5N87B3U2UB2OGRZXM&Operation=ApproveAssignment&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2017-04-01T15%3A10%3A11Z&Version=2012-03-25&Signature=BxElMKjHc4kIGhv7oMJW%2BWTbYfk%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ApproveAssignmentResponse><OperationRequest><RequestId>cc0483b9-c702-4294-9a86-da337b89f63b</RequestId></OperationRequest><ApproveAssignmentResult><Request><IsValid>True</IsValid></Request></ApproveAssignmentResult></ApproveAssignmentResponse>
  recorded_at: Sat, 01 Apr 2017 15:10:11 GMT
recorded_with: VCR 3.0.3
