---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A47Z&Version=2012-03-25&Signature=J%2Fw9TF%2B7obhO%2F2IOH3iapV0Jtxo%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>0ff22d2f-aaf2-44fb-8e15-e946546bea59</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>60</NumResults><TotalNumResults>60</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2DS6X3YOCCF0Q8MW91KIQIIX75CQR3</HITId><HITTypeId>2CJ8H88MQU6LJ7S7OUSR0X4AI3WATU</HITTypeId><HITGroupId>2E3PVP3TVOK58Y0HDAYQHOZO3VX41O</HITGroupId><CreationTime>2013-06-24T22:50:19Z</CreationTime><Title>Transcribe MP3 of 20 second phone call</Title><Description>I split up a telephone conversation into 20 second parts, you transcribe the audio for one 20 second part.</Description><Keywords>test, mp3, typingpooltest</Keywords><HITStatus>Reviewable</HITStatus><MaxAssignments>1</MaxAssignments><Reward><Amount>0.02</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$0.02</FormattedPrice></Reward><AutoApprovalDelayInSeconds>36000</AutoApprovalDelayInSeconds><Expiration>2013-06-25T08:50:19Z</Expiration><AssignmentDurationInSeconds>18000</AssignmentDurationInSeconds><RequesterAnnotation>typingpool_url=http%3A%2F%2Fwebmasher.com%2Fmturk%2FTypingpool%27s%2520Test%2520%26%2520Interview.00.00.732962eadb4fbab866173b06ce0c0db6.XWAMFM.mp3&amp;amp;typingpool_project_id=732962eadb4fbab866173b06ce0c0db6</RequesterAnnotation><HITReviewStatus>NotReviewed</HITReviewStatus><NumberOfAssignmentsPending>0</NumberOfAssignmentsPending><NumberOfAssignmentsAvailable>1</NumberOfAssignmentsAvailable><NumberOfAssignmentsCompleted>0</NumberOfAssignmentsCompleted></HIT><HIT><HITId>2UCCF806UFBNTBCS6X63C5SWFCP0E3</HITId><HITTypeId>2CJ8H88MQU6LJ7S7OUSR0X4AI3WATU</HITTypeId><HITGroupId>2E3PVP3TVOK58Y0HDAYQHOZO3VX41O</HITGroupId><CreationTime>2013-06-24T22:50:21Z</CreationTime><Title>Transcribe MP3 of 20 second phone call</Title><Description>I split up a telephone conversation into 20 second parts, you transcribe the audio for one 20 second part.</Description><Keywords>test, mp3, typingpooltest</Keywords><HITStatus>Reviewable</[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A48Z&Version=2012-03-25&Signature=YwsCaQ8oQqtqukEK6dR2eegBzr0%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>8de56d86-b6de-470f-bdca-8c358235a135</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>60</TotalNumResults><PageNumber>2</PageNumber></SearchHITsResult></SearchHITsResponse>
  recorded_at: Sun, 11 Aug 2013 17:41:49 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=28GNJ92NJKM0JU3V568YZ2GTZEM8DO&Operation=GetHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A42%3A08Z&Version=2012-03-25&Signature=t%2FTmBqT6hnVb93kKjEGakGpik28%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<GetHITResponse><OperationRequest><RequestId>74d8a72b-9727-489d-8e73-7b41a1020dbf</RequestId></OperationRequest><HIT><Request><IsValid>True</IsValid></Request><HITId>28GNJ92NJKM0JU3V568YZ2GTZEM8DO</HITId><HITTypeId>2CJ8H88MQU6LJ7S7OUSR0X4AI3WATU</HITTypeId><HITGroupId>2E3PVP3TVOK58Y0HDAYQHOZO3VX41O</HITGroupId><CreationTime>2013-08-11T17:41:40Z</CreationTime><Title>Transcribe
        MP3 of 20 second phone call</Title><Description>I split up a telephone conversation
        into 20 second parts, you transcribe the audio for one 20 second part.</Description><Question>&lt;ExternalQuestion
        xmlns=\"http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2006-07-14/ExternalQuestion.xsd\"&gt;\n
        \ &lt;ExternalURL&gt;https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool&amp;#39;s%20Test%20&amp;amp;%20Interview.00.00.1da1cfd7da97fdf937ccfe5eb44debdd.RWMLCF.html&lt;/ExternalURL&gt;\t\n
        \ &lt;FrameHeight&gt;400&lt;/FrameHeight&gt;\n&lt;/ExternalQuestion&gt;\n</Question><Keywords>test,
        mp3, typingpooltest</Keywords><HITStatus>Disposed</HITStatus><MaxAssignments>1</MaxAssignments><Reward><Amount>0.02</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$0.02</FormattedPrice></Reward><AutoApprovalDelayInSeconds>36000</AutoApprovalDelayInSeconds><Expiration>2013-08-11T17:40:54Z</Expiration><AssignmentDurationInSeconds>18000</AssignmentDurationInSeconds><RequesterAnnotation>typingpool_url=https%3A%2F%2Ftypingpool-tokyo-test-ffa60.s3.amazonaws.com%2FTypingpool%27s%2520Test%2520%26%2520Interview.00.00.1da1cfd7da97fdf937ccfe5eb44debdd.TEOSTX.mp3&amp;amp;typingpool_project_id=1da1cfd7da97fdf937ccfe5eb44debdd</RequesterAnnotation><HITReviewStatus>NotReviewed</HITReviewStatus></HIT></GetHITResponse>"
  recorded_at: Sun, 11 Aug 2013 17:42:09 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=28GNJ92NJKM0JU3V568YZ2GTZEM8DO&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A42%3A09Z&Version=2012-03-25&Signature=M3rEKK4Q819iUJSO%2BvJDeWqtlyE%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>dc456544-539e-420a-a48e-88493485989e</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 11 Aug 2013 17:42:09 GMT
[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=22ESBRI8IUB2CDQKVTJTOB3LAK64GN&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A42%3A14Z&Version=2012-03-25&Signature=9TSl4w3SSoCgraiJUBiUEA%2BkXNI%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>6b2910e2-9eaf-460b-a88a-574c41b17886</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>0</TotalNumResults><PageNumber>1</PageNumber></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sun, 11 Aug 2013 17:42:15 GMT
recorded_with: VCR 2.5.0
