---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A51Z&Version=2012-03-25&Signature=y7wYL%2Fgy902Gl5MwH%2Bxe53YW1Og%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>84dc4f9d-4cf5-41f5-b60b-6f728bd2be3c</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>60</NumResults><TotalNumResults>60</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2DS6X3YOCCF0Q8MW91KIQIIX75CQR3</HITId><HITTypeId>2CJ8H88MQU6LJ7S7OUSR0X4AI3WATU</HITTypeId><HITGroupId>2E3PVP3TVOK58Y0HDAYQHOZO3VX41O</HITGroupId><CreationTime>2013-06-24T22:50:19Z</CreationTime><Title>Transcribe MP3 of 20 second phone call</Title><Description>I split up a telephone conversation into 20 second parts, you transcribe the audio for one 20 second part.</Description><Keywords>test, mp3, typingpooltest</Keywords><HITStatus>Reviewable</HITStatus><MaxAssignments>1</MaxAssignments><Reward><Amount>0.02</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$0.02</FormattedPrice></Reward><AutoApprovalDelayInSeconds>36000</AutoApprovalDelayInSeconds><Expiration>2013-06-25T08:50:19Z</Expiration><AssignmentDurationInSeconds>18000</AssignmentDurationInSeconds><RequesterAnnotation>typingpool_url=http%3A%2F%2Fwebmasher.com%2Fmturk%2FTypingpool%27s%2520Test%2520%26%2520Interview.00.00.732962eadb4fbab866173b06ce0c0db6.XWAMFM.mp3&amp;amp;typingpool_project_id=732962eadb4fbab866173b06ce0c0db6</RequesterAnnotation><HITReviewStatus>NotReviewed</HITReviewStatus><NumberOfAssignmentsPending>0</NumberOfAssignmentsPending><NumberOfAssignmentsAvailable>1</NumberOfAssignmentsAvailable><NumberOfAssignmentsCompleted>0</NumberOfAssignmentsCompleted></HIT><HIT><HITId>2UCCF806UFBNTBCS6X63C5SWFCP0E3</HITId><HITTypeId>2CJ8H88MQU6LJ7S7OUSR0X4AI3WATU</HITTypeId><HITGroupId>2E3PVP3TVOK58Y0HDAYQHOZO3VX41O</HITGroupId><CreationTime>2013-06-24T22:50:21Z</CreationTime><Title>Transcribe MP3 of 20 second phone call</Title><Description>I split up a telephone conversation into 20 second parts, you transcribe the audio for one 20 second part.</Description><Keywords>test, mp3, typingpooltest</Keywords><HITStatus>Reviewable</[...]
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A52Z&Version=2012-03-25&Signature=cAuUrApyOYI1zveK2zJ2Ywf4qtY%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>c44a135f-4c66-46cc-9985-1d520dd5fd3f</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>60</TotalNumResults><PageNumber>2</PageNumber></SearchHITsResult></SearchHITsResponse>
  recorded_at: Sun, 11 Aug 2013 17:41:53 GMT
- request:
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body:
      encoding: UTF-8
      string: HITId=28GNJ92NJKM0JU3V568YZ2GTZEM8DO&Operation=DisableHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A53Z&Version=2012-03-25&Signature=IIik%2BiWZk4oE0Gfb7UxGXChtL08%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <DisableHITResponse><OperationRequest><RequestId>645c4847-fdf1-4469-b461-5ff6069be3be</RequestId></OperationRequest><DisableHITResult><Request><IsValid>True</IsValid></Request></DisableHITResult></DisableHITResponse>
  recorded_at: Sun, 11 Aug 2013 17:41:54 GMT
[...]
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.00.1da1cfd7da97fdf937ccfe5eb44debdd.RWMLCF.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:WZdsIX5KEUy8XHbFxCrtE/n4Nvk=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 5B10D2643E81CE59
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:57 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.20.1da1cfd7da97fdf937ccfe5eb44debdd.LYKXEK.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:S8K9Hq1Fqnjwv0iaMZy8Hvq7CJE=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 4532CB42CCD9AD22
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:58 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.40.1da1cfd7da97fdf937ccfe5eb44debdd.BBTMHD.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:NKwy00zIpLy1r2Zl4+A8pUYHzdA=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - E51B99FEC7E2DBC2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:59 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.00.1da1cfd7da97fdf937ccfe5eb44debdd.QFFFTK.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:QattGI6IR+FoOvyaa5fXXu33mqI=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 7B57E8B20ADE1618
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:59 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.20.1da1cfd7da97fdf937ccfe5eb44debdd.CSAQYX.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:BJswYjVjS1dcr2KK1u4aLkNpeaM=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 10FE3A0DC510A05A
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:42:00 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.40.1da1cfd7da97fdf937ccfe5eb44debdd.AFSSUJ.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:6DHLi/6U0mOcz5Ab7z+uuezS8Fc=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - F522E09BB696F52E
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:42:01 GMT
- request:
    method: post
    uri: https://mechanicalturk.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A42%3A02Z&Version=2012-03-25&Signature=ZheJ50M8NBUwP%2BfBTR5yLztfulM%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
     [...]
- request:
    method: post
    uri: https://mechanicalturk.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A42%3A04Z&Version=2012-03-25&Signature=ejqNOyA1x8PBm22su%2Fi80IyIfXk%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>cecfd2b3-8833-44d8-b46a-6e458c65e17d</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>82</TotalNumResults><PageNumber>2</PageNumber></SearchHITsResult></SearchHITsResponse>
  recorded_at: Sun, 11 Aug 2013 17:42:05 GMT
recorded_with: VCR 2.5.0
