---
http_interactions:
- request:
    method: post
    uri: https://mechanicalturk.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=1&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A08Z&Version=2012-03-25&Signature=hTXiGpIQHmSK5Zz7S2bQqZ2XIF0%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>9b4122cf-4a61-414e-a748-6b0b2c8a4182</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>82</NumResults><TotalNumResults>82</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>25DR14IXKO2LNLYQO81623YPXE8ABU</HITId><HITTypeId>2RNC26DG67D1BMCCRWRCTK2JETRE7N</HITTypeId><HITGroupId>2S2V2D5NQYN5TM7CVSWT3MOFX1E59K</HITGroupId><CreationTime>2013-08-05T22:59:15Z</CreationTime><Title>Transcribe MP3 of 1 minute interview</Title><Description>I split up an interview into 1 minute parts, you transcribe the audio for one 1 minute part.</Description><Keywords>transcription, audio, mp3</Keywords><HITStatus>Reviewable</HITStatus><MaxAssignments>1</MaxAssignments><Reward><Amount>1.00</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$1.00</FormattedPrice></Reward><AutoApprovalDelayInSeconds>43200</AutoApprovalDelayInSeconds><Expiration>2013-08-06T22:59:15Z</Expiration><AssignmentDurationInSeconds>3600</AssignmentDurationInSeconds><RequesterAnnotation>typingpool_url=https%3A%2F%2Ftypingpool-00cb00d484fdbfb9.s3.amazonaws.com%2FLuca.00.00.e46e4b573cf73e9ddfb634ac67456689.PDHBHD.mp3&amp;amp;typingpool_project_id=e46e4b573cf73e9ddfb634ac67456689</RequesterAnnotation><QualificationRequirement><QualificationTypeId>000000000000000000L0</QualificationTypeId><Comparator>GreaterThanOrEqualTo</Comparator><IntegerValue>95</IntegerValue><RequiredToPreview>1</RequiredToPreview></QualificationRequirement><QualificationRequirement><QualificationTypeId>00000000000000000040</QualificationTypeId><Comparator>GreaterThanOrEqualTo</Comparator><IntegerValue>100</IntegerValue><RequiredToPreview>1</RequiredToPreview></QualificationRequirement><HITReviewStatus>NotReviewed</HITReviewStatus><NumberOfAssignmentsPending>0</NumberOfAssignmentsPending><NumberOfAssignmentsAvailable>0</NumberOfAssignmentsAvailable><NumberOfAssignmentsCompleted>1</NumberOfAssignmentsCompleted></HIT><HIT><HITId>21KJE1M7PKK9ZADI0B1C54L0IREYR5</HITId><HITTypeId>2RNC26DG67D1BMCCRWRCTK2JETRE7N</HITTypeId><HITGroupId>2S2V2D5NQYN5TM7CVSWT3MOFX1E59K</HITGroupId><CreationTime>2013-08-05T22:59:16Z</CreationTime><Title>Transcribe MP3 of 1 minute interview</Title><Description>I split up an interview into 1 minute parts, you transcribe the audio for one 1 minute part.</Description><Keywords>transcription, audio, mp3</Keywords><HITStatus>Reviewable</HITStatus><MaxAs[...]
- request:
    method: post
    uri: https://mechanicalturk.amazonaws.com/
    body:
      encoding: UTF-8
      string: PageSize=100&PageNumber=2&Operation=SearchHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2013-08-11T17%3A41%3A10Z&Version=2012-03-25&Signature=yLIfS2TFTNal70VjuksX7yQHI5w%3D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SearchHITsResponse><OperationRequest><RequestId>ad244982-54be-464a-b6a5-f9dc60c95336</RequestId></OperationRequest><SearchHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>82</TotalNumResults><PageNumber>2</PageNumber></SearchHITsResult></SearchHITsResponse>
  recorded_at: Sun, 11 Aug 2013 17:41:10 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.00.a820a74f861ecd9c8bcb7364d7905c0a.MVHAWH.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:QCxUtZKuq5IlIUfCLbrJhr6Jr8w=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 54D3E720FBFCD2CB
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:11 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.20.a820a74f861ecd9c8bcb7364d7905c0a.DDVPCA.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:6Kmh1FNh1zvacrD7jWATjsFrSsg=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 61E7F1410F1FBFDF
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:12 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.00.40.a820a74f861ecd9c8bcb7364d7905c0a.JVBQOY.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:3th7sUQ1tZ2dDnbf6hsnr14EevI=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 45E9FB2772D780A2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:13 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.00.a820a74f861ecd9c8bcb7364d7905c0a.YTNNEM.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:WRIfy0ELv/MYRE1XLW4a4aYIhTw=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 159A5A391BEE0033
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:13 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.20.a820a74f861ecd9c8bcb7364d7905c0a.BPGEXW.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:729iVBJE3P7C2m2NQzZ9n+G+HhU=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 3E09EF671B877EE5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:14 GMT
- request:
    method: delete
    uri: https://typingpool-tokyo-test-ffa60.s3.amazonaws.com/Typingpool's%20Test%20&%20Interview.01.40.a820a74f861ecd9c8bcb7364d7905c0a.REPIXL.mp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <AWS_KEY>:X4NfJTHU/yOHfekn/NDrGM8JW44=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - BBFA3820F0758776
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Aug 2013 17:41:14 GMT
recorded_with: VCR 2.5.0
