--- 
http_interactions: 
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=1&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A28%3A34-07%3A00&Version=2008-08-02&Signature=Pb%2FCb%2Ff6uXvbT8RZzOTC7ooEnL8%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>d099031f-0282-4a2e-bae5-4c62d6782811</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>9</NumResults><TotalNumResults>9</TotalNumResults><PageNumber>1</PageNumber><HIT><HITId>2ETNVP3TVOK58Y0HDAYQHOZF3XP41O</HITId></HIT><HIT><HITId>27D66RLPHIT3VEDM7W965NJQ7848GZ</HITId></HIT><HIT><HITId>2QH6KW4ZMAZHVA8XR2ROQNVRM8H8HY</HITId></HIT><HIT><HITId>2UHKPFE4EGDHR5JHXK99QZW6MLW8IR</HITId></HIT><HIT><HITId>2UVP8PJWKUDDMG3NF2U920B6Z0L8J3</HITId></HIT><HIT><HITId>25KGMMEGOOGQ6V3IUM12VEIUZ1XBBK</HITId></HIT><HIT><HITId>20DCNHMVHVKCXJIDWEY4M79KV33425</HITId></HIT><HIT><HITId>2V9SQV66RLPHWCKT781VNI62SQND5S</HITId></HIT><HIT><HITId>244HGYQ4J3NAPPSRYR6O1YIT60GBOO</HITId></HIT></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 17 Mar 2012 18:28:35 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2ETNVP3TVOK58Y0HDAYQHOZF3XP41O&PageSize=100&Operation=GetAssignmentsForHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A28%3A35-07%3A00&Version=2008-08-02&Signature=Ya8U5J0CsM6GRv7F2z8f%2FUqoQVY%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetAssignmentsForHITResponse><OperationRequest><RequestId>f2c23b65-82f8-4adb-b9b9-9834d465851c</RequestId></OperationRequest><GetAssignmentsForHITResult><Request><IsValid>True</IsValid></Request><NumResults>1</NumResults><TotalNumResults>1</TotalNumResults><PageNumber>1</PageNumber><Assignment><AssignmentId>25PX2Q45UUKQ2HXZU8SNV8OG0IGBT4</AssignmentId><WorkerId>A9S0AOAI8HO9P</WorkerId><HITId>2ETNVP3TVOK58Y0HDAYQHOZF3XP41O</HITId><AssignmentStatus>Approved</AssignmentStatus><AutoApprovalTime>2012-03-18T02:33:58Z</AutoApprovalTime><AcceptTime>2012-03-17T16:32:08Z</AcceptTime><SubmitTime>2012-03-17T16:33:58Z</SubmitTime><ApprovalTime>2012-03-17T16:35:24Z</ApprovalTime><Answer>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        &lt;QuestionFormAnswers xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionFormAnswers.xsd"&gt;
        &lt;Answer&gt;
        &lt;QuestionIdentifier&gt;1&lt;/QuestionIdentifier&gt;
        &lt;FreeText&gt;Ryan: This is probably a dumb question but -- Grand Rapids -- you guys are connected -- are you guys connected to the auto industry or are you too far from Detroit to be...&amp;#13;
        &amp;#13;
        Havi: We are. We're connected to the suppliers for the auto industry in Detroit and Flint is a statewide business here&lt;/FreeText&gt;
        &lt;/Answer&gt;
        &lt;/QuestionFormAnswers&gt;
        </Answer></Assignment></GetAssignmentsForHITResult></GetAssignmentsForHITResponse>
  recorded_at: Sat, 17 Mar 2012 18:28:36 GMT
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: HITId=2ETNVP3TVOK58Y0HDAYQHOZF3XP41O&ResponseGroup.0=HITDetail&ResponseGroup.1=HITQuestion&ResponseGroup.2=Minimal&ResponseGroup.3=HITAssignmentSummary&Operation=GetHIT&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A28%3A36-07%3A00&Version=2008-08-02&Signature=P7qDWZ3P37HWQJXgNQmVRslLD28%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetHITResponse><OperationRequest><RequestId>5e8d6442-901d-47b2-be7d-8d19bce3f2eb</RequestId></OperationRequest><HIT><Request><IsValid>True</IsValid></Request><HITId>2ETNVP3TVOK58Y0HDAYQHOZF3XP41O</HITId><HITTypeId>2LZUXFCD45XCSC4P4ZKKLN3TGSSVX8</HITTypeId><CreationTime>2012-03-17T16:28:31Z</CreationTime><Title>Transcribe MP3 of 1-minute phone call</Title><Description>I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.</Description><Question>&lt;QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd"&gt;
          &lt;Overview&gt;
            &lt;FormattedContent&gt;&lt;![CDATA[&lt;h2&gt;Transcribe MP3 of 1-minute phone call&lt;/h2&gt;
          &lt;p&gt;I split up a telephone conversation into 1-minute parts, you transcribe the audio for one 1-minute part.&lt;/p&gt;
          &lt;h3&gt;Important&lt;/h3&gt;
          &lt;ul&gt;
        &lt;li&gt;Some unusual words you might h[...]
[...]
- request: 
    method: post
    uri: https://mechanicalturk.sandbox.amazonaws.com/
    body: 
      encoding: US-ASCII
      string: PageSize=100&PageNumber=2&Operation=GetReviewableHITs&Service=AWSMechanicalTurkRequester&AWSAccessKeyId=<AWS_KEY>&Timestamp=2012-03-17T11%3A28%3A43-07%3A00&Version=2008-08-02&Signature=neEoHxTs5d9gwMP2KHg%2BcviqoO4%3D
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0"?>
        <GetReviewableHITsResponse><OperationRequest><RequestId>1bccf780-80f3-452e-bd67-c7c70ee7e55d</RequestId></OperationRequest><GetReviewableHITsResult><Request><IsValid>True</IsValid></Request><NumResults>0</NumResults><TotalNumResults>9</TotalNumResults><PageNumber>2</PageNumber></GetReviewableHITsResult></GetReviewableHITsResponse>
  recorded_at: Sat, 17 Mar 2012 18:28:44 GMT
recorded_with: VCR 2.0.0.rc2
